/**
 * Website theme 
 * Author: Dev Amit Jha
 * Date: 18th Oct. 2020
 * Website: https://github.com/devamitjha/react_product_listing_page/tree/master/src
 */

*{margin: 0;
padding:0;
-webkit-box-sizing: border-box;
 box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  position:relative;
  font-family: 'Varela Round';
}  

.dFlex, nav, nav ul, .book_list, .book_list .card, .book_list .card .card_header, .btn, .footer, .footer .social, .footer .social .fa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 50px 20px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #272b34;
}

nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #fff;
}

nav .logo {
  font-size: 30px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.destination,nav ul li {
  font-size: 14px;
  margin-left: 15px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

nav .search {
  color: rgba(255, 255, 255, 0.7);
}

nav .search .fa {
  cursor: pointer;
}

nav .search .fa + .fa {
  margin-left: 15px;
}

.book_list {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.book_list h3 {
  position: absolute;
  left: 0;
  top: 0;
  color: #2d343e;
  font-size: 10.5vw;
}

.book_list .card {
  width: 30%;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-bottom: 50px;
}

.book_list .card .card_img {
  margin-top: -5vw;
}

.book_list .card .card_img img {
  width: 200px;
}

.book_list .card .card_header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin: 25px 0;
}

.book_list .card .card_header h2 {
  font-size: 18px;
}

.book_list .card .card_header p {
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin: 8px 0;
}

.book_list .card .card_header .price {
  font-size: 25px;
  color: #fe8033;
}

.book_list .card .card_header .price span {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}

.book_list .card:hover {
  background-color: #2b3039;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.book_list .card:hover .btn {
  background-color: #fe8033;
  color: #fff;
}

.btn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  background-color: #2d343e;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  overflow: hidden;
}

.footer {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
}

.footer .social .fa {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.footer .social .fa + .fa {
  margin-left: 15px;
}
/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
